.container-principal{
  width: 100%;
}

.box-cards{
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

.card{
  background-color: white;
  height: 7em;
  width: 13em;
  border-radius: 1em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  justify-content: space-between;
  color: var(--purple);
  border-left: var(--purple) 0.4em solid;
}

.card .description{
  font-weight: 700;
  font-size: 1.1em;
}

.card .value{
  font-weight:600;
  font-size: 1.4em;
  color: var(--green);
}

form label{
  color: var(--purple);
  font-weight: 600;
}

.box-inputs{
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.box-inputs .data-input{
  font-family: Inter, sans-serif;
  color: var(--purple);
  border-radius: 0.4em;
  border: 2px solid white;
  background-color: white;
  padding: 1em;
}

.submit-button{
  background-color: var(--purple);
  border-radius: 0.75em;
  border: 0;
  padding: 1em;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  transition: all linear 0.2s;
  cursor: pointer;
}

.submit-button:hover{
  background-color: var(--dark-purple);
}

.box-cards-financas{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1em;
  margin-bottom: 1em;
}

.card-financas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--purple);
  color: white;
  padding: 1em;
  gap: 4em;
  border-radius: 0.5em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
}

.vazio{
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: 400;
  text-align: center;
  min-height: 25.5vh;
}

.vazio span{
  font-size: 3em;
}

.upper-part{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.nome-influenciador{
  font-size: 2em;
  font-weight: 500;
}

.lower-part{
  display: flex;
  justify-content: space-between;
}

.lower-part-left, .lower-part-right{
  display: flex;
  flex-direction: column;
}

.lower-part-right{
  align-items: flex-end;
}

.value{
  font-size: 2.5em;
  color: var(--green);
  font-weight: 700;
}

.negative{
  color: var(--light-pink) !important;
}

@media(max-width: 1000px){
  .container-principal{
    padding-right: 1em;
    padding-left: 1em;
  }

  .lower-part{
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .lower-part-right{
    align-items: flex-start;
  }
}

@media(max-width: 800px){
  .container{
    flex-direction: column;
  }

  .container-principal{
    min-height: 88vh;
    width: unset;
  }

  .container-principal h2{
    width: 90%;
  }

  .box-cards{
    flex-direction: column;
  }

  .card{
    width: 70%;
  }
}

@media(max-width: 500px){
  .container-principal{
    max-height: 88vh;
  }
}

