<div class="container">
  <app-menu pagina="financas"></app-menu>

  <div class="container-principal">
    <h2> Finanças </h2>

    <div class="box-cards">
      <div class="card">
        <span class="description"> Ganhos do mês atual </span>
        <span class="value"> R$ {{cardFinancasTotais.ganhosAcessor}} </span>
      </div>
      <div class="card">
        <span class="description"> Total em contratos concluídos no mês atual </span>
        <span class="value"> R$ {{cardFinancasTotais.totalContratos}}  </span>
      </div>
    </div>
    <form class="box-inputs">
      <input class="data-input" type="month" name="mes">
      <input class="submit-button" type="button" value="PESQUISAR">
    </form>

    <div class="box-cards-financas">
      <div class="card-financas">
        <div class="upper-part">
          <span class="nome-influenciador">Sol Cardoso</span>
          <span>5 serviços</span>
        </div>
        <div class="lower-part">
          <div class="lower-part-left">
            <span class="description"> Ganhos influenciadora: </span>
            <span class="value"> R$15.000,00 </span>
          </div>
          <div class="lower-part-right">
            <span class="description"> Ganhos acessora: </span>
            <span class="value"> R$15.000,00 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

