.container-principal{
  width: 100%;
}

.box-inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2em;
}

.box-inputs-left-part{
  display: flex;
  gap: 1em;
}

.box-inputs .data-input{
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: var(--purple);
  border-radius: 0.4em;
  border: 2px solid white;
  background-color: white;
  padding: 1em;
}


.submit-button, .button-cadastrar-servico{
  background-color: var(--purple);
  border-radius: 0.75em;
  border: 0;
  padding: 1em;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  transition: all linear 0.2s;
  cursor: pointer;
}

.submit-button:hover, .button-cadastrar-servico:hover{
  background-color: var(--dark-purple);
}

.box-cards-servicos{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1em;
  margin-bottom: 1em;
}

.card-servicos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--purple);
  color: white;
  padding: 1em;
  gap: 3em;
  border-radius: 0.5em;
  box-shadow: 5px 0 16px -3px rgba(153,153,153,1);
}

.upper-part, .lower-part{
  display: flex;
  justify-content: space-between;
}

.upper-part-left, .upper-part-right{
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.nome-empresa, .value{
  font-size: 1.8em;
}

.nome-influenciador{
  font-size: 1.3em;
  font-weight: 500;
  color: var(--light-pink);
}

.value{
  color: var(--green);
}

.value, .status{
  font-weight: 600;
}

.upper-part-right{
  align-items: flex-end;
}

.lower-part{
  align-items: center;
}

.lower-part-left{
  display: flex;
  gap: 1em;
}

.tag{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
  padding: 0.5em;
  border-radius: 0.2em;
}

.green{
  color: var(--green);
}

.status{
  font-size: 1.5em;
}

@media(max-width: 1000px){
  .box-inputs{
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
  }

  .container-principal{
    padding-right: 1em;
    padding-left: 1em;
  }

  .upper-part{
    flex-direction: column;
    gap: 2em;
  }

  .upper-part-right{
    align-items: flex-start;
  }
}

@media(max-width: 800px){
  .container{
    flex-direction: column;
  }

  .container-principal{
    min-height: 88vh;
    width: unset;
  }

  .container-principal h2{
    width: 90%;
  }

  .lower-part{
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .lower-part-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.5em;
  }
}

@media(max-width: 500px){
  .container-principal{
    max-height: 88vh;
  }

  .box-inputs{
    gap: 1em;
  }

  .box-inputs-left-part{
    flex-direction: column;
  }

  .box-cards-servicos{
    width: unset;
  }
}


