<div class="container">
  <app-menu pagina="servicos"></app-menu>

  <div class="container-principal">
    <h2> Serviços </h2>

    <div class="box-inputs">
      <form class="box-inputs-left-part">
        <select id="influenciadores" name="influenciadores" class="data-input" [(ngModel)]="idInfluenciadorSelecionado">
          <option [ngValue]="null" disabled hidden>Selecione um influenciador</option>
          <option [ngValue]="influenciador.id" *ngFor="let influenciador of listaInfluenciadores"> {{influenciador.nome}} </option>
        </select>
        <select id="status" name="status" class="data-input" [(ngModel)]="statusSelecionado">
          <option [ngValue]="null" disabled hidden>Selecione um status</option>
          <option [ngValue]="true"> Ativo </option>
          <option [ngValue]="false"> Finalizado </option>
        </select>

        <input class="submit-button" type="button" value="PESQUISAR" (click)="pesquisarServicos()">
      </form>

      <a href="/cadastrar-visualizar-servico/cadastrar">
        <span class="button-cadastrar-servico">
          CADASTRAR NOVO SERVIÇO
        </span>
      </a>
    </div>

    <div class="box-cards-servicos">
      <a href="'/cadastrar-visualizar-servico/visualizar?id={{servico.id}}" *ngFor="let servico of listaServicos">
        <div class="card-servicos">
          <div class="upper-part">
            <div class="upper-part-left">
              <span class="nome-empresa"> {{servico.nomeContratante}}</span>
              <span class="nome-influenciador"> {{servico.nomeInfluenciador}} </span>
            </div>
            <div class="upper-part-right">
              <span class="value"> {{utilService.formataValoresEmReais(servico.valor)}} </span>
              <span> {{utilService.formataData(servico.dataInicio)}} ao {{utilService.formataData(servico.dataFim)}}</span>
            </div>
          </div>
          <span>
            {{servico.proposta}}
          </span>
          <div class="lower-part">
            <div class="lower-part-left">
              <span class="tag" *ngIf="servico.usoImagem"> Uso de Imagem  </span>
              <span class="tag" *ngIf="servico.impulsionamento"> Impulsionamento </span>
              <span class="tag" *ngIf="servico.exclusividade"> Exclusividade </span>
            </div>
            <span class="status status-ativo" *ngIf="servico.ativo">
              Ativo
            </span>
            <span class="status status-finalizado" *ngIf="!servico.ativo">
              Finalizado
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

