<div class="container">
  <app-menu pagina="gastos"></app-menu>

  <div class="container-principal">
    <h2> Gastos {{mesAtual}}/{{anoAtual}} </h2>

    <div class="box-inputs">
      <form class="box-inputs-left-part">
        <input class="data-input" type="month" name="mesAno" id="mesAno" [(ngModel)]="mesAno">
        <input class="submit-button" type="button" value="PESQUISAR" (click)="pesquisaPorData()">
      </form>

      <a href="/cadastrar-visualizar-gasto/cadastrar">
        <span class="button-cadastrar-gasto">
          CADASTRAR NOVO GASTO
        </span>
      </a>
    </div>

    <div class="grid-cards-gastos">
      <a href="/cadastrar-visualizar-gasto/visualizar?id={{gasto.id}}" *ngFor="let gasto of listaGastos">
        <div class="card-gastos">
          <div class="upper-part">
            <span> {{gasto.descricao}}</span>
            <span class="data"> {{utilService.formataData(gasto.data)}} </span>
          </div>
          <div class="middle-part">
            <span class="value"> {{utilService.formataValoresEmReais(gasto.valor)}} </span>
          </div>
          <div class="lower-part">
              <span class="tag" *ngIf="gasto.fixo" > Gasto fixo  </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

