<div class="container">
  <div class="main">
    <div class="logo-box">
      <img [src]="'assets/images/logo-conecta.png'"/>
      <h1> Faça seu login</h1>
      <p> Mantenha-se conectado! </p>
    </div>
    <form class="form">
        <div class="input-container">
          <label for="login"> Login </label>
          <input type="text" id="login" placeholder="Seu login" [(ngModel)]="usuario.login" name="login">
        </div>

        <div class="input-container">
          <label for="senha"> Senha </label>
          <input type="password" id="senha" placeholder="Sua senha" [(ngModel)]="usuario.senha" name="senha">
        </div>

        <div class="button-container">
          <a href=""> Esqueceu sua senha? </a>
          <button class="submit-button" (click)="login()">
            ENTRAR
          </button>
        </div>
    </form>
  </div>

  <div class="footer">
    © 2024 Conecta Agência de Influenciadores. Todos os direitos reservados
  </div>
</div>

