<div class="container">
  <app-menu pagina="influenciadores"></app-menu>

  <div class="container-principal">
    <div class="box-lists">
      <div class="list">
        <span class="list-title"> Próximos Aniversários </span>
        <div class="list-body">
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
        </div>

      </div>
      <div class="list">
        <span class="list-title"> Próximos vencimentos de contrato </span>
        <div class="list-body">
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
          <span class="list-item"> (15/07) {{cardInfluenciadores.influenciadorMaisRecente}} </span>
        </div>
      </div>
    </div>

    <div class="box-cards">
      <div class="card">
        <span class="description"> Influenciadores ativos </span>
        <span class="value value-acessor"> {{cardInfluenciadores.qtdInfluenciadoresAtivos}} </span>
      </div>
      <div class="card">
        <span class="description"> Influenciador mais antigo </span>
        <span class="value"> {{cardInfluenciadores.influenciadorMaisAntigo}} </span>
      </div>
      <div class="card">
        <span class="description"> Influenciador mais recente </span>
        <span class="value"> {{cardInfluenciadores.influenciadorMaisRecente}} </span>
      </div>
    </div>

    <h2> Influenciadores </h2>

    <div class="grid-cards-influenciadores">
      <a href="/cadastrar-visualizar-influenciador/visualizar?id={{influenciador.id}}" *ngFor="let influenciador of listaInfluenciadorSimplificado">
        <div class="card-influenciador">
          <span class="nome-influenciador"> {{influenciador.nome}} </span>
          <div class="cidade-status">
            <span> {{influenciador.cidadeEstado}} </span>
            <span class="status status-ativo" *ngIf="influenciador.ativo"> Ativo </span>
            <span class="status status-finalizado" *ngIf="!influenciador.ativo"> Inativo </span>
          </div>
        </div>
      </a>

      <div class="card-influenciador vazio" *ngIf="listaInfluenciadorSimplificado.length === 0">
        <span class="material-symbols-rounded">
          sentiment_dissatisfied
        </span>
        Nenhum influenciador cadastrado
      </div>

      <a href="/cadastrar-visualizar-influenciador/cadastrar">
        <div class="card-add-influenciador">
          <span class="material-symbols-rounded"> person_add </span>
          <span> Cadastrar novo influenciador </span>
        </div>
      </a>
    </div>

  </div>
</div>

