.grid-cards-influenciadores{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin-bottom: 2em;
}

.card-influenciador, .card-add-influenciador{
  height: 10em;
  max-width: 7em;
  background-color: var(--purple);
  color: white;
  padding: 1em;
  display: flex;
  border-radius: 1em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
  flex-direction: column;
  justify-content: space-between;
  transition: all linear 0.2s ;
}

.vazio{
  align-items: center;
  text-align: center;
}

.card-add-influenciador{
  background-color: var(--dark-purple);
  align-items: center;
  text-align: center;
}

.card-add-influenciador .material-symbols-rounded, .vazio .material-symbols-rounded{
  margin-top: 0.5em;
  font-size: 2.5em;
}

.card-influenciador:hover, .card-add-influenciador:hover{
  padding-bottom: 1.5em;
  background-color: var(--dark-purple);
}

.card-influenciador span:nth-child(1){
  overflow-y: scroll;
  padding-right: 15px;
}

.card-influenciador span:nth-child(1)::-webkit-scrollbar {
  width: 0px;
}

.nome-influenciador{
  max-height: 5em;
  font-weight: 600;
  font-size: 1.3em;
}

.cidade-status{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cidade-status span:nth-child(1){
  overflow-y: scroll;
  padding-right: 15px;
}

.cidade-status span:nth-child(1)::-webkit-scrollbar {
  width: 0px;
}

.box-cards,
.box-lists{
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.card{
  background-color: white;
  height: 7em;
  width: 13em;
  border-radius: 1em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  justify-content: space-between;
  color: var(--purple);
  border-left: var(--purple) 0.4em solid;
}

.card .description, .list .list-title{
  font-weight: 700;
  font-size: 1.1em;
}

.card .value{
  font-size: 1.4em;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 7em;
  padding: 1.2em;
  color: var(--purple);
  border-left: var(--purple) 0.4em solid;
  border-radius: 0.5em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
}

.list-title{
  margin-bottom: 1em;
}

.list-body{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.list-body::-webkit-scrollbar{
  width: 0;
}

.list-item:nth-child(1){
  font-weight: bold;
}

@media(max-width: 1200px){
  .grid-cards-influenciadores{
    grid-template-columns: repeat(5, 1fr);
  }

  .container-principal{
    padding-left: 1em;
    padding-right: 1em;
  }

  .box-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .box-lists{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .list{
    width: 60%;
  }
}

@media(max-width: 1000px){
  .grid-cards-influenciadores{
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
  }

  .list{
    width: 90%;
  }
}

@media(max-width: 800px){
  .container{
    flex-direction: column;
  }

  .container-principal h2{
    width: 90%;
  }

  .grid-cards-influenciadores{
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
  }

  .box-cards{
    grid-template-columns: repeat(1, 1fr);
  }

  .card, .list{
    width: 80%;
  }
}

@media(max-width: 500px){
  .container-principal{
    max-height: 88vh;
  }

  .grid-cards-influenciadores{
    grid-template-columns: repeat(2, 1fr);
  }
}


