<div class="container">
  <app-menu pagina="influenciadores"></app-menu>

  <div class="container-principal">
    <h2> Influenciadores </h2>

    <div class="grid-cards-influenciadores">
      <a href="">
        <div class="card-influenciador">
          <span class="nome-influenciador"> Sol Cardoso </span>
          <div class="cidade-status">
            <span> São Paulo / SP </span>
            <span class="status is-ativo"> Ativo </span>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card-add-influenciador">
          <span class="material-symbols-rounded"> person_add </span>
          <span> Cadastrar novo influenciador </span>
        </div>
      </a>
    </div>

    <div class="box-cards">
      <div class="card">
        <span class="description"> Influenciadores ativos </span>
        <span class="value value-acessor"> 9 </span>
      </div>
      <div class="card">
        <span class="description"> Influenciador mais antigo </span>
        <span class="value"> Sol Cardoso </span>
      </div>
      <div class="card">
        <span class="description"> Influenciador mais recente </span>
        <span class="value"> Beatriz Araujo </span>
      </div>
    </div>

  </div>
</div>

