.container-menu-mobile-fullscreen{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--dark-purple);

  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.upper-menu-mobile-fullscreen{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-menu-mobile-fullscreen img{
  height: 2em;
}

.option{
  display: flex;
  gap: 1em;
  color: white;
  margin-left: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.options-menu-mobile-fullscreen{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.is-selected{
  border-right: 10px solid var(--purple);
}

.bottom-menu-mobile-fullscreen{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2em;
}

.logout-menu-mobile-fullscreen{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
}

.button-close-menu-mobile-fullscreen{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.display-flex{
  display: flex;
}
