.container{
  background-color: var(--grey-background);
  display: flex;
}

.container-principal{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.container-principal h2{
  color: var(--purple);
}

.box-calculadora{
  width: 36.5em;
  background-color: white;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);
  border-radius: 1em;
  border-left: var(--purple) 0.35em solid;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: column;

  padding-top: 2em;
  padding-left: 2em;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2em;
  gap: 0.5em;
  color: var(--purple);
}

.input-container label{
  font-weight: 500;
}

.input-container input{
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.5em;
  border: var(--purple) 0.15em solid;
}

.input-container input:disabled{
  background-color: var(--grey-background);
  color: var(--dark-grey-text);
}

.input-container input::placeholder{
  color: var(--grey-text);
}

.submit-button{
  background-color: var(--purple);
  border-radius: 0.75em;
  border: 0;
  padding: 1.2em;
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: all linear 0.2s;
  cursor: pointer;
  margin-bottom: 1em;
}

.submit-button:hover{
  background-color: var(--dark-purple);
}

.box-cards{
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.card{
  background-color: var(--purple);
  min-height: 7.5em;
  min-width: 15em;
  border-radius: 1em;
  box-shadow: 5px 0px 16px -3px rgba(153,153,153,1);

  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
  color: white;
}

.card .description{
  font-weight: 700;
  font-size: 1.3em;
}

.card .value{
  font-weight:600;
  font-size: 1.7em;
}

.card .value-acessor{
  color: var(--green);
}

@media(max-width: 1000px){
  .container-principal{
    padding-right: 1em;
    padding-left: 1em;
  }

  .box-calculadora{
    width: 80%;
  }

  .box-cards{
    flex-direction: column;
  }

  .card{
    max-width: 11em;
  }
}

@media(max-width: 800px){
  .container{
    flex-direction: column;
  }

  .container-principal{
    min-height: 88vh;
    width: unset;
  }

  .container-principal h2{
    width: 90%;
  }

  .input-container{
    width: 80%;
  }

  .card{
    width: 70%;
    max-width: unset;
    padding: 2em;
  }
}


