:root{
  --dark-purple: #2C0E4A;
  --purple: #583082;
  --pink: #D16762;
  --light-pink: #ECA889;
  --green: #34D399;
  --dark-grey-text: #909096;
  --grey-text: #BFBFBF;
  --grey-background: #F1F1FB;
}

body{
  font-family: Inter, sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:-webkit-any-link{
  text-decoration: none;
}

.container{
  background-color: var(--grey-background);
  display: flex;
}

.container-principal{
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
}

.container-principal h2{
  color: var(--purple);
}

.status-ativo{
  color: var(--green) !important;
}

.status-finalizado{
  color: var(--pink) !important;
}


