:root{
  --dark-purple: #2C0E4A;
  --purple: #442069;
  --pink: #D16762;
  --light-pink: #ECA889;
  --green: #34D399;
  --dark-grey-text: #909096;
  --grey-text: #BFBFBF;
  --grey-background: #F1F1FB;
}

body{
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


