<div class="container-menu">
  <div class="logo-menu">
    <img [src]="'assets/images/logo-conecta.png'"/>
    Todos os direitos reservados
  </div>
  <div class="options-menu">
    <a href="/influenciadores">
      <div class="option is-selected">
        <span class="material-symbols-rounded"> contacts </span>
        Influenciadores
      </div>
    </a>

    <a href="/servicos">
      <div class="option">
        <span class="material-symbols-rounded"> wallet </span>
        Serviços
      </div>
    </a>

    <a href="/financas">
      <div class="option">
        <span class="material-symbols-rounded"> analytics </span>
        Finanças
      </div>
    </a>

    <a href="/calculadora">
      <div class="option">
        <span class="material-symbols-rounded"> calculate </span>
        Calculadora de %
      </div>
    </a>
  </div>

  <a href="/login">
    <div class="logout-menu">
      <span class="material-symbols-rounded"> logout </span>
      Sair
    </div>
  </a>

</div>
