<div class="container-menu">
  <div class="upper-part">
    <div class="logo-menu">
      <img [src]="'assets/images/logo-conecta.png'"/>
      Todos os direitos reservados
    </div>

    <div class="options-menu">
      <a href="/influenciadores">
        <div class="option" [ngClass]="{'is-selected': isInfluenciadores}">
          <span class="material-symbols-rounded"> contacts </span>
          Influenciadores
        </div>
      </a>

      <a href="/servicos">
        <div class="option" [ngClass]="{'is-selected': isServicos}">
          <span class="material-symbols-rounded"> wallet </span>
          Serviços
        </div>
      </a>

      <a href="/financas">
        <div class="option" [ngClass]="{'is-selected': isFinancas}">
          <span class="material-symbols-rounded"> analytics </span>
          Finanças
        </div>
      </a>

      <a href="/calculadora">
        <div class="option" [ngClass]="{'is-selected': isCalculadora}">
          <span class="material-symbols-rounded"> calculate </span>
          Calculadora de %
        </div>
      </a>
    </div>
  </div>

  <a href="/login">
    <div class="logout-menu">
      <span class="material-symbols-rounded"> logout </span>
      Sair
    </div>
  </a>

</div>
